    <section id="column-1">
      {% include throbber.html %}
      <div class="pillbox">
        <div class="pill"><a href="">J-001</a></div>
        <div class="pill"><a href="">R-002</a></div>
        <div class="pill"><a href="">R-003</a></div>
        <div class="pill"><a href="">I-004</a></div>
        <div class="pill"><a href="">C-005</a></div>
        <div class="pill"><a href="">A-006</a></div>
      </div>
      <div class="lcars-list-2 uppercase">
        <ul>
          <li>Subspace Link: Established</li>
          <li>Starfleet Database: Connected</li>
          <li>Quantum Memory Field: stable</li>
          <li class="bullet-almond-creme font-almond-creme">Optical Data Network: rerouting</li>
        </ul>
      </div>
      <div class="pillbox">
        <div class="pill-a"><a href="">F12-22</a></div>
        <div class="pill-a"><a href="">G24-22</a></div>
        <div class="pill-a"></div>
        <div class="pill-a"><a href="">H-07AM</a></div>
        <div class="pill-a"><a href="">I50-72</a></div>
        <div class="pill-a"><a href="">J5369</a></div>
      </div>
    </section>
    <section id="column-2">
      <div class="panel-11"> 11-1524 </div>
      <div class="section-2-buttons">
        <a href="">JS2B-01</a> 
        <a href="">IS2B-02</a> 
        <a href="">MS2B-03</a> 
      </div>
      <div class="panel-12"> 12-0730</div>
      <div class="panel-13">13-318</div>
      <div class="panel-14">14-DL44</div>
      <div class="panel-15">15-3504</div>
    </section>