<div class="lcars-frame">
  <div class="frame-col-1">
    <div class="frame-col-1-cell-a"></div>
    <div class="frame-col-1-cell-b"></div>
    <div class="frame-col-1-cell-c"></div>
  </div>
  <div class="frame-col-2"> </div>
  <div class="frame-col-3 display-vertical">
    <div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
  </div>
  <div class="frame-col-4"> </div>
  <div class="frame-col-5">
    <div class="frame-col-5-cell-a"></div>
    <div class="frame-col-5-cell-b"></div>
    <div class="frame-col-5-cell-c"></div>
  </div>
</div>