<!DOCTYPE html>
<html>
<head>
  {% capture namerank %}
  {{ page.rank }} {{ page.full_name }}
  {% endcapture %}

  <title>
    {{ namerank }} &#11825
    Personnel &#11825
    {{ site.title }}
  </title>
  
  {% include head.html %}
</head>
<body>
  <div class="wrap-everything">
    {% include sidestuff.html %}
    <section id="column-3">
      {% include upperstuff.html %}
      <div class="wrap" id="gap">
        <div class="left-frame">
          <button onclick="topFunction()" id="topBtn"><span class="hop">screen</span> top</button>
          <div>
            <div class="panel-3">03<span class="hop">-111968</span></div>
            <div class="panel-4">04<span class="hop">-041969</span></div>
            <div class="panel-5">05<span class="hop">-1701D</span></div>
            <div class="panel-6">06<span class="hop">-071984</span></div>
            <div class="panel-7">07<span class="hop">-081940</span></div>
            <div class="panel-8">08<span class="hop">-47148</span></div>
            <div class="panel-9">09<span class="hop">-081966</span></div>
          </div>
          <div>
            <div class="panel-10">10<span class="hop">-31</span></div>
          </div>
        </div>
        <div class="right-frame">
          <div class="bar-panel">
            <div class="bar-6"></div>
            <div class="bar-7"></div>
            <div class="bar-8"></div>
            <div class="bar-9"></div>
            <div class="bar-10"></div>
          </div>
          <main>

            <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ namerank }}</a></h1>


            {% if page.image %}
              <div class="pics-right">
                <img class="character-portrait" {% twoxify page.image %} />
              </div>
            {% endif %}
              <h2>Personnel File</h2>

              <div class="lcars-text-bar">
                <span>Background</span>
              </div>
              <ul class="lcars-list">
                {% if page.species %}
                  <li><strong>Species</strong>: {{ page.species.name }}</li>
                {% endif %}
                <li><strong>Pronouns</strong>: {{ page.pronouns }}</li>
                <li><strong>Alignment</strong>: {{ page.alignment }}</li>
                {% if page.upbringing %}
                  <li><strong>Upbringing</strong>: {{ page.upbringing }}</li>
                {% endif %}
                {% if page.environment %}
                  <li><strong>Environment</strong>: {{ page.environment }}</li>
                {% endif %}
                {% if page.pastimes %}
                  <li><strong>Pastimes</strong>: {{ page.pastimes }}</li>
                {% endif %}
                {% if page.assignment %}
                  <li><strong>Assignment</strong>: {{ page.assignment }}</li>
                {% endif %}
                {% if page.roles %}
                  <li><strong>Roles</strong>: 
                    <ul class="lcars-list">
                      {% for role in page.roles %}
                        <li><strong>{{ role.name }}</strong>: {{ role.detail }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              </ul>

              {% if page.career %}
                <div class="lcars-text-bar">
                  <span>Career</span>
                </div>
                <div class="flexbox">
                  <div class="col">
                    {{ page.career.path }}
                    <div class="stats-container">
                      {% for attr in page.career.stats %}
                      <div class="stat-box tomato">
                        <div class="stat-name">{{ attr[0] }}</div>
                        <div class="stat-value">{{ attr[1] }}</div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col">
                    <ul class="lcars-list">
                    {% for evt in page.career.events %}
                      <li>{{ evt }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

              {% if page.stats %}
                <div class="flexbox">
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Attributes</span>
                    </div>
                    <div class="stats-container">
                      {% for attr in page.stats.attributes %}
                      <div class="stat-box almond">
                        <div class="stat-name">{{ attr[0] }}</div>
                        <div class="stat-value">{{ attr[1] }}</div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Departments</span>
                    </div>
                    <div class="stats-container">
                      {% for attr in page.stats.departments %}
                      <div class="stat-box bluey">
                        <div class="stat-name">{{ attr[0] }}</div>
                        <div class="stat-value">{{ attr[1] }}</div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}


              <div class="flexbox">
                {% if page.stress %}
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Health</span>
                    </div>
                    <div class="stats-container">
                      <div class="stat-box green">
                        <div class="stat-name">Protection</div>
                        <div class="stat-value">{{ page.protection }}</div>
                      </div>
                      <div class="stat-box green">
                        <div class="stat-name">Stress</div>
                        <div class="stat-value">{{ page.stress }}</div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if page.species.ability %}
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Species Ability</span>
                    </div>
                    <strong>{{ page.species.ability.name }}</strong>: {{ page.species.ability.detail }}
                  </div>
                {% endif %}
              </div>

              <div class="flexbox">
                {% if page.values %}
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Values</span>
                    </div>
                    <ul class="lcars-list">
                      {% for value in page.values %}
                        <li>{{ value }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% if page.focuses %}
                  <div class="col">
                    <div class="lcars-text-bar">
                      <span>Focuses</span>
                    </div>
                    <ul class="lcars-list">
                      {% for focus in page.focuses %}
                        <li>{{ focus }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>

              {% if page.talents %}
                <div class="lcars-text-bar">
                  <span>Talents</span>
                </div>
                <ul class="lcars-list">
                  {% for talent in page.talents %}
                    <li><strong>{{ talent.name }}</strong>: {{ talent.detail }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              {%- capture scontent -%}
              {{ page.content | strip }}
              {%- endcapture -%}

              {% unless scontent == "" %}
                <div class="lcars-text-bar">
                  <span>Supplementary Details</span>
                </div>
                {{ content }}
              {% endunless %}

            {% include footer.html %}
          </main>
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="/assets/js/lcars.js"></script>
  <div class="headtrim"> </div>
  <div class="baseboard"> </div>
</body>
</html>