<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title != site.title %}
      {{ page.title }} &#11825; 
    {% endif %}
    {% if page.pagination_info.curr_page and page.pagination_info.curr_page > 1 %}
      page {{ page.pagination_info.curr_page }} &#11825; 
    {% endif %}
    {{ site.title }}
  </title>
  
  {% include head.html %}
</head>
<body>
  <div class="wrap-everything">
    {% include sidestuff.html %}
    <section id="column-3">
      {% include upperstuff.html %}
      <div class="wrap" id="gap">
        <div class="left-frame">
          <button onclick="topFunction()" id="topBtn"><span class="hop">screen</span> top</button>
          <div>
            <div class="panel-3">03<span class="hop">-111968</span></div>
            <div class="panel-4">04<span class="hop">-041969</span></div>
            <div class="panel-5">05<span class="hop">-1701D</span></div>
            <div class="panel-6">06<span class="hop">-071984</span></div>
            <div class="panel-7">07<span class="hop">-081940</span></div>
            <div class="panel-8">08<span class="hop">-47148</span></div>
            <div class="panel-9">09<span class="hop">-081966</span></div>
          </div>
          <div>
            <div class="panel-10">10<span class="hop">-31</span></div>
          </div>
        </div>
        <div class="right-frame">
          <div class="bar-panel">
            <div class="bar-6"></div>
            <div class="bar-7"></div>
            <div class="bar-8"></div>
            <div class="bar-9"></div>
            <div class="bar-10"></div>
          </div>
          <main>

            <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>

            {% assign category = page.categories[0] %}
            {% if category == "mission" %}
              <div class="lcars-text-bar">
                <span>Mission report</span>
              </div>
            {% endif %}

            {{ content }}

            {% include footer.html %}
          </main>
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="/assets/js/lcars.js"></script>
  <div class="headtrim"> </div>
  <div class="baseboard"> </div>
</body>
</html>